#dateContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}