img {
    height: 50px;
    background-color: white;
  }
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  form{
    margin-bottom: 2%;
  }
  h2{
    margin-top: 2%;
    text-align: center;
  }

  #dateContainer{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #chartContainer #chartContainerPH{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  #container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
  }

  #externalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    font-weight: bold;
  }
  #infoPremise{
    margin-top: 2%;
  }