<app-dipretreat-toolbar></app-dipretreat-toolbar>
<!-- sposta stile -->
<div style="text-align: center;height:100%; margin-top: 10%;">


    <mat-form-field>
        <mat-label>Choose a Premise</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="premise" (selectionChange)="premiseSelected($event.value)">
            <mat-option *ngFor="let premise of premises$|async" [value]="premise.premises_id">
                {{premise.premises_name}}</mat-option>
        </mat-select>
    </mat-form-field>


</div>