@import '~@angular/material/theming';
@include mat-core();


$custom-collection: (
    warning :  #FFC116,
    success :  #3ef819d7,
    danger:    #c00000,
    contrast: (
        warning :  #000000,
        success :  #FFFFFF,
        danger:    #FFFFFF,
    )
);


$my-app-theme: mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-pink, A200, A100, A400),  mat-palette($mat-red));



$my-app-custom: mat-palette($custom-collection, custom);
$my-app-theme: map_merge($my-app-theme, (custom: $my-app-custom));
$custom: map-get($my-app-theme, custom);



.mat-success {
    color: mat-color($custom, success);
  }

@include angular-material-theme($my-app-theme);

